/* Selector:etiqueta html, class id */
/* propiedad: valor color:red */
@import url('https://fonts.googleapis.com/css2? family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* estilo de texto  */
body{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-areas: 
    "header" 
    "main"
    "section"
    "footer" ;
}

.section-imagen{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
p{
    font-family:'Poppins', sans-serif; 
    font-style:normal ;
    font-weight:bold ; 
    text-align:center ;
    line-height: 40px;
    letter-spacing:5px ;
    word-spacing: 7px;
    text-transform:uppercase ;
    color: rgb(29, 19, 39);
    margin-top: 35px;
    margin-bottom: 35px;
}

.segundo-parrafo{
    font-family:'Poppins', sans-serif; ;
    font-style:italic ;
    color: black;
    text-align: center;
    line-height: 34px;
    letter-spacing:5px ;
}

h1{ 
    text-align: end;
    background-color: cornsilk;
    color: black;
    padding: 20px;
    text-align: center;
    margin: 50px 20px 50px 20px ;
}



ul{
    list-style-type: none;
}

/* color a una oracion especifica del texto 
p span{
    text-transform: lowercase;
    color: lightcoral;
}  */

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(173, 48, 89);
    padding: 30px;
    margin-right: 100px;
    margin-top: 50px;
    margin-left: 100px;
}

.curados{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(173, 48, 89);
    padding: 25px;
    margin-right: 100px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
}

.prod_{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(173, 48, 89);
    padding: 25px;
    margin-right: 100px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
}

a{
    text-decoration: none;
    color: rgb(42, 29, 29);
}

body{
    background-color: cornsilk
}

header{
    background-color: indianred;
    padding: 80px;
}


.mates{
    margin-top: 80px;
    margin-left: 450px;
    border: 10px double darksalmon;
    border-radius: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 35px;
}

.matesitos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}


footer{
    padding: 80px;
    margin-top: 200px;
    background-color: indianred;
    margin-bottom: 0;
}


/* flexbox */

header{
    padding: 50px;
}

nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.subtitulo_{
    margin-bottom: 40px;
}

/* comienzo de mobile first 0-500*/




/* Transciones y mas*/

.movim:hover{
    scale: 120%;
}

.circle1, .circle2, .circle3, .circle4, .circle5{
    border-radius: 50px;
    height: 40px;
    width: 40px;
    margin: 20px;
}

.circle1{
    background-color: blue;
    transition: all 3s ease;
}
.circle2{ 
    background-color: brown;
    transition: all 3s ease-in;
}
.circle3{
    background-color: chartreuse;
    transition: all 3s ease-in-out;
}
.circle4{
    background-color: fuchsia;
    transition: all 3s ease-out;
}
.circle5{
    background-color: darkgoldenrod;
    transition: all 3s st;
}

.container-circle:hover .circle1,
.container-circle:hover .circle2,
.container-circle:hover .circle3,
.container-circle:hover .circle4,
.container-circle:hover .circle5 {
    transform: translateX(300px);
}

.combinado{
    background-color: fuchsia;
    height: 75px;
    width: 75px;
    margin: 60px auto;
    transition: all 1s;    
}

.combinado:hover{
    transform: rotate(90deg) scale(2) translateX(100px);
}

.animaciones{
    width: 100px;
    height: 100px;
    margin: 50px auto;
    background-color: tomato;
}

.animaciones:hover{
    animation: cambios 4s;
}
@keyframes cambios{
    0%{
        background-color: darkslategrey;
    }
    25%{
        border-radius: 40%;
    }
    50%{
        transform: rotate(360deg);
    }
    75%{
        transform: translate(100px);
    }
} 

/* boostrap */

form {
    display: flex;
    flex-direction: column;
    background-color: pink;
    width: 80%;
    margin: 120px auto;
    padding: 30px;
    box-shadow: 6px 4px 29px -2px rgba(219,216,219,1);
}

form h4 {
    margin-bottom: 15px;
    color: aliceblue;
}

form input {
    padding: 10px;
    width: 100%;
    margin-bottom: 40px;
}

form button {
    margin: 0 auto;
    padding: 6px 23px;
    border-radius: 15px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 768px){
    nav ul{
        flex-direction: row;
        justify-content: space-between;
    }

    .matesitos{
        justify-content:space-evenly;
    }
}

@media (min-width: 1024px){
    form {
        width: 40%;
    }
}









