.main{
    .h1{
        text-align: end;
        background-color: cornsilk;
        color: black;
        padding: 20px;
        text-align: center;
        margin: 50px 20px 50px 20px ;
        .h2{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgb(173, 48, 89);
            padding: 30px;
            margin-right: 100px;
            margin-top: 50px;
            margin-left: 100px;
            .p{
                font-family:'Poppins', sans-serif; 
                font-style:normal ;
                font-weight:bold ; 
                text-align:center ;
                line-height: 40px;
                letter-spacing:5px ;
                word-spacing: 7px;
                text-transform:uppercase ;
                color: rgb(29, 19, 39);
                margin-top: 35px;
                margin-bottom: 35px;

}
}
}
}


